*   {
   box-sizing: border-box;
   text-align: center;
    }
body 
     {
      font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
      color:white;
      background-image:url(gravel.png);
      font-size: 18px;
     }
     ul {
      position: fixed;
      width: 100%;
      z-index: 1;
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color:#ebebeb;
      }
     li {
      float: right;
        }
     li a
      {
      display: block;
      color: white;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      }
     li a:hover
     {
      background-color: #4AAAA5;
     }

.NavLink 
      {
         float:right;
         padding-left: 30px;
         color: black;
      } 
      
#Name { 
         background:#4AAAA5;
         margin-right: 600px;
         }

#Heading{
         color: #4AAAA5;
         float: left;
         margin-right: 870px;
         }
 
 .Article {
          position: relative; 
          left: 0px;
          top: 70px;
          z-index: 0;
         clear: both;
         overflow: auto;
         color:#777;
         background:#ebebeb;
         padding: 20px;
         margin-bottom: 0px;
         margin-left: 120px;
         margin-right: 100px;
         float: left;
          }
    
img     {
         float: left;
        } 


hr { 
   position: relative;
   top: 20px;
   left: 0px;
   display: block;
   margin-top: 50px;
   margin-bottom: 50px;
   margin-left: 25px;
   margin-right: 25px;
   border-style: inset;
   border-width: 1.5px;
}

.site-footer {
     clear: both;
     overflow: auto;
     background-color:#666666;
     position: relative;
     top: 130px;
     height:60px;
     width: 100%;
 }
 .site-footer-top {
      clear: both;
      overflow: auto;
      background-color:#4AAAA5;
      position: relative;
      top: 70px;
      height:10px;
      width: 100%;
    }
#FontArticle
     {
       font-family: Georgia, 'Times New Roman', Times, serif;
       font-style: italic;
     }   
 #copyright{
  
   font-size: 12px;
 }     
